/src/main/resources/data.sql filter=lfs diff=lfs merge=lfs -text
/src/main/resources/sqls-insert.sql filter=lfs diff=lfs merge=lfs -text
/target/classes/data.sql filter=lfs diff=lfs merge=lfs -text
/target/classes/sqls-insert.sql filter=lfs diff=lfs merge=lfs -text
/target/pratico-00.00.01.jar filter=lfs diff=lfs merge=lfs -text
/target/pratico-00.00.01.jar.original filter=lfs diff=lfs merge=lfs -text
